
body {
  width: 400px;
  height: 500px;
  font-family: Roboto;  
  background-image: url('images/eggshell.jpg');
/*   background-size: cover; */
}
core-header-panel {
/* background:#fff; */
}

core-header-panel[drawer] {
  background-image: url('images/eggshell.jpg');
}

core-header-panel core-menu {  
  padding: 12px 0px 4px 0px;
}

core-toolbar {  
  background-color: #009688;     
  height: 80px;
}

core-toolbar span {
  color:#fff;
/*   opacity: 0.87; */
}

core-toolbar span.tag {
  font-size: 8pt;
  padding: 8px 0px;
}

#navicon, #overflow {
  fill:#fff; 
}


#navheader {
  background-color: #00bcd4;
}

#mainheader {
  
}


/* drawer is always visible on a wide screen so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

#drawerPanel::shadow #drawer {}
#drawerPanel::shadow #main {}



/* -- LEFT PANEL MENU -- 
*/


#leftpanel {
  /*  background:#fff; */
}

#leftpanel paper-item {
  height: 64px;  
  margin: 1px;
  /*  background:#fff; */
}

#leftpanel paper-item paper-icon-button  {
  opacity: 0.4;  
}

#leftpanel paper-item paper-input {
  cursor: inherit;
}

#leftpanel .charclass {
  /*  background:#fff; */
  
}

#leftpanel .charclass paper-button {
  border-radius:50%;
  height: 40px;
  width: 40px;
  padding: 0px 0px;
  margin: 1px;
  cursor: inherit;
  /*  background:#fff; */
}


/* -- OVERFLOW MENU -- 
*/


#overflow {  
  font-size:12pt;
}

#overflow paper-item, #overflow core-item {
  background-image: url('images/paper.jpg');
  height: 48px;
  padding: 8px 16px;
}

#overflow paper-item[disabled], #overflow core-item[disabled] {
  color:#e0e0e0;
}

#overflow paper-checkbox::shadow #ink[checked] {    /* remove selectors for unchecked changes */
  color:#b2dfdb;
}
#overflow paper-checkbox::shadow #checkbox.checked {
  border-color: #ffab40;
}


/* ====  MAIN   ====
   ==== CONTENT ====
*/
.content {
  padding: 24px;  
  /*  background:#fff; */
}

.block {
  padding: 0px 0px;
  /*  background:#fff; */
}



/* TEXT INPUTS
*/
.content paper-input {
  height: 64px;
  width: 16em;
  margin: 1px;
  /*  background:#fff; */
}

.content paper-input::shadow .focusedColor {
  background:#ffab40;
}


/* PAPER SLIDER
*/
.content paper-slider {
  height: 64px;
  padding: 0px 0px;
  margin: 1px;
  /*  background:#fff; */
}

.content paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #009688;
}

.content paper-slider::shadow #sliderKnobInner {
  background-color: #00796b;
}

.content paper-slider::shadow #sliderKnobInner::before {
  background-color: #009688;
}


/* CHARACTER SETS
*/
.content .charclass {
  height: 64px;
  padding: 0px 0px;
  margin: 1px;
  /*  background:#fff; */
}

.content .charclass paper-button {
  border-radius:50%;
  height: 48px;
  width: 48px;
  margin: 1px;
  font-size:14pt;
  font-weight: 500; 
  color: #fff;
  
  background: #009688;
  opacity:0.87;   
  
  border:1px solid #ffab40;
}

.content .charclass paper-button:hover {
/*     opacity: 1.0; */
}

.charclass paper-button[inactive] {
  opacity: 0.54;  
  border:1px solid #009688;
}

.charclass paper-button[inactive]:hover {
/*   opacity: 0.67 */
}



.content .charclass paper-button::shadow span {
  border-radius:50%;
/*   top:0px; left:0px; bottom:0px; right:0px;   */
  padding:4px 8px;
}



.content .charclass paper-button::shadow #ripple {
/*     color: #ffd180; */
}


/* PASSWORD & SUPER BUTTON 
*/
.paperfabcont {
  height: 80px;
  width:100%; 
  padding: 0px 40px 0px 0px;  
}

paper-input#password {
  height:56px;  
  width:16em;
  font-size:14pt;
  padding: 0px 8px;
  margin: 1px 16px;  
  display:none;
/*   overflow:scroll; */
}

paper-input#password::shadow #input {
  text-align: center;
}

paper-fab {
  background-color: #ff9100;
}

paper-fab[inactive] {
  background-color: #ffd180
}



.toast {
  display:none;
}


